<%= form_with model: [@test, @question],format: :js, local: true do |f| %>
  <%= render 'shared/errors', recource: @question %>

  <p><%= f.label :title, "Text question" %></p>
  <p><%= f.text_area :title %></p>
  <p><%= f.submit 'Confirm' %></p>
<% end %>
