<h1>Test questions:</h1>
  <table>
    <% @test.questions.each do |question| %>
    <tr>
      <th><%= question.title %> </th>
      <th><%= button_to "Show", question_path(question), method: :get %></th>
      <th><%= button_to 'Edit question', edit_question_url(question), method: :get%></th>
    <% end %>
    </tr>
  </table>
<br><div><%= button_to "Create new question", new_test_question_url(@test), method: :get%></div>
<br><div><%= button_to "Back to all tests", tests_path, method: :get%></div>
