<div class="row justify-content-center mt-3">
  <div class="col col-md-4">

    <h2><%= t('.reg_header') %></h2>

    <div class="card border-primary">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %>*<br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :firstname %>*
              <%= f.text_field :firstname, class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :lastname %>
              <%= f.text_field :lastname, class: 'form-control' %>
            </div>

            <div class="nubmer_field">
              <%= f.label :age%>
              <%= f.number_field :age, class: 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :password %>*
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> <%= t('.characters_minimum') %>)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control'%>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %>*<br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div>

            <div id="password-check"></div>

            <s>*</s><h><%= t('.require_fields') %></h>

            <div class="actions">
              <%= f.submit t('.confirm'), class: 'btn btn-primary' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
