<%= form_with model: @user, local: true, data: { turbo: false } do |f| %>
  <%= render 'shared/errors', recource: @user %>

  <p><%= f.label :email%></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :firstname%></p>
  <p><%= f.text_field :firstname %></p>

  <p><%= f.label :lastname%></p>
  <p><%= f.text_field :lastname %></p>

  <p><%= f.label :age%></p>
  <p><%= f.number_field :age %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password, id: :user_password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation, id: :user_password_confirmation %></p>

  <p><%= f.submit 'Confirm' %></p>
<% end %>
