<h1><%= t('.title') %> <%= @test_passage.test.title %><%= t('.title2') %></h1>

<b><%= @test_passage.current_question.title %></b>

<p><%= t('.timer') %>:
  <% unless @test_passage.test.timer.nil? %>
    <%= content_tag :timer, class: 'timer', data: { left_time_score: @test_passage.left_time_score } do %>
      <% end %>
  <% end %>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, data: { turbo: false }, method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p id="next"><%= f.submit t('.next'), class: "btn btn-outline-dark" %></p>
<% end %>

<%= t('.question_number') %> <%= @test_passage.current_question_number %>/<%= @test_passage.test.questions.count %>
<%= content_tag :progress, class: 'progressBar', data: { current_question: @test_passage.current_question_number,
                                                         count_question: @test_passage.test.questions.count } do %>
<% end %>
<p><%= button_to t('.gist'), gist_test_passage_path(@test_passage), class: "btn btn-outline-primary", method: :post %></p>
