<%= form_with model: [:admin, @test, @question], data: { turbo: false }, local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>

  <p><%= f.label :title %></p>
  <p><%= f.text_area :title %></p>
  <%= f.submit t('.create_question'), class: "btn btn-outline-info" %>
<% end %>
