<h1><%= t('.header') %></h1>
<table>
  <tr>
    <th><%= t('.test_title') %></th>
    <th><%= t('.test_level') %></th>
    <th><%= t('.question_title') %></th>
  </tr>
  
  <%= render @tests %>
</table>
<br><dev><%= link_to t('.create_test'), new_admin_test_path, method: :get %></dev>
