<h1><%= t('.test') %></h1>
<p>Title: <%= @test.title %></p>
<p><%= t('.questions') %></p>
<%= render @test.questions %>
<%= link_to t('.edit_test'), edit_admin_test_path(@test), class: "btn btn-outline-primary" %>
<p><%=  link_to t('.all_tests'), admin_tests_path, class: 'btn btn-outline-dark mt-1', method: :get %></p>
