<h1>Create New Test</h1>

<%= form_with model: @test, local: true, format: :js do |f| %>
  <%= render 'shared/errors', recource: @test %>

  <p><%= f.label :title, "Test title" %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :level, "Level" %></p>
  <p><%= f.number_field :level %></p>
  <p>
    <%= f.label :category_id, "Category " %>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p><%= f.label :author_id, "Autor id" %></p>
  <p><%= f.text_field :author_id %></p>
  <p><%= f.submit 'Create' %></p>
<% end %>
