<% if user_signed_in? %>
   <p class="nav user"><%= t('.hello') %>,<b><%= current_user.firstname %></b> <%= link_to 'Guru', root_path %></p>
   <div class="nav user"><%= button_to t('.log_out'), destroy_user_session_path, method: :delete %></div>
<% else %>
  <p class="nav user"><%= link_to 'Login', new_user_session_path %> <%= link_to 'Singup', new_user_registration_path %></p> 
<% end %> 
