<% if user_signed_in? %>
   <p class="nav user">Welcom,<b><%= current_user.firstname %></b> <%= link_to 'Guru', root_path %></p>
   <div class="nav user"><%= button_to 'Quit', destroy_user_session_path, method: :delete %></div>
<% end %> 

<% if !user_signed_in? %>
  <p class="nav user"><%= link_to 'Login', new_user_session_path %> <%= link_to 'Singup', new_user_registration_path %></p> 
<% end %> 
