<!DOCTYPE html>
<html>
  <head>
    <meta charser="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    
    <%= render 'layouts/nav' %>
    
    <div class="conteiner p-2">
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
